@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-SemiBoldCondensed.eot');
  src: url('../fonts/ProximaNova-SemiBoldCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-SemiBoldCondensed.woff2') format('woff2'), url('../fonts/ProximaNova-SemiBoldCondensed.woff') format('woff'), url('../fonts/ProximaNova-SemiBoldCondensed.ttf') format('truetype'), url('../fonts/ProximaNova-SemiBoldCondensed.svg#ProximaNova-SemiBoldCondensed') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-RegularCondensed.eot');
  src: url('../fonts/ProximaNova-RegularCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-RegularCondensed.woff2') format('woff2'), url('../fonts/ProximaNova-RegularCondensed.woff') format('woff'), url('../fonts/ProximaNova-RegularCondensed.ttf') format('truetype'), url('../fonts/ProximaNova-RegularCondensed.svg#ProximaNova-RegularCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*basic setting*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
.form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
/*topography*/
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
  margin-top: 0;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/*main*/
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/bg-1.jpg) center center no-repeat;
  background-size: cover;
  /*подзаголовок*/
  /*зеленый ярлык*/
  /*оплата по факту*/
  /*главная форма*/
}
.main-content {
  margin-top: 10rem;
  /*главный заголовок*/
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
  /*цифра 300*/
}
.main strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 4rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /*заголовок формы*/
  /*подпись под кнопкой*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/*оформление секции с преимуществами*/
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
}
.features-block P {
  font-size: 1.6rem;
  margin-top: 2rem;
  display: inline-block;
  width: 80%;
}
.features-img {
  height: 6rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: 70%;
}
.prev {
  left: 0;
  background: url(../img/arrow_left_15605.png) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/arrow_right_15604.png) center no-repeat;
  background-size: 70%;
}
/*Секция с ценами*/
.price {
  background: url(../img/prices-bg.jpg) center;
  /*Карточки с тарифами*/
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  background-color: #ffffff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block img {
  width: 100%;
  max-width: 20rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-block span {
  display: block;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block ul {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 3rem;
}
.price-block ul li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/Tick_Mark_Dark_icon-icons.com_69147.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
/*Секция с отзывами*/
.feedback {
  background: #D1D3EB;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 3rem;
  font-style: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider p {
  font-style: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 100%;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.feedback-form label {
  transform: translate(-50%, 8px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
.scheme {
  background: #ffffff url(../img/hand.png) bottom right -5rem no-repeat;
  background-size: 60rem;
}
.scheme h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.all-inclusive P {
  margin-bottom: 5rem;
}
.all-inclusive .media {
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
/*Мы равеем все опасения*/
.problems {
  position: relative;
  margin-top: -25rem;
}
.problems-women {
  position: absolute;
  width: 30rem;
  bottom: 0;
  left: 50%;
  margin-left: -15rem;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  padding-left: 3.5rem ;
  position: relative;
  margin-bottom: 3rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 3rem;
  height: 3rem ;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/krest.png) center no-repeat;
  background-size: 70%;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  background: url(../img/Tick_Mark_Dark_icon-icons.com_69147.png) center no-repeat;
  background-size: 70%;
}
.material-slider {
  padding-top: 5rem;
}
.material img {
  display: block;
  margin: 0 auto;
}
/*Оформление всплывающих окон*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header-light {
    margin-bottom: 0;
  }
  .feedback-form label {
    transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .wrap-block {
    text-align: center;
  }
  .header {
    text-align: center;
  }
  .features-block p {
    width: 60%;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    text-align: center;
  }
}
